*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;

}

body{
    background: #f0f2f1;
    font-family: 'open-sans',sans-serif;

}
a{
    text-decoration: none;
}

.contenedor{

    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor_tarjeta {

    margin: 20px;
    display: inline-block;
}

.contenedor_tarjeta:hover figure{

    -webkit-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg);
    -o-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);

    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);


}

figure{
    position: relative;
    width: 350px;
    height: 450px;
    margin: 0;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);

}

figure .frontal, figure .trasera{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s;

}

figure .frontal{

    display: block;



}

figure .trasera{
    position: absolute;
    top: 0;
    padding: 20px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;


}

.contenedor_tarjeta:nth-child(1) figure .trasera{

    background: rgba(172,169,167,0.75);
    background: -moz-linear-gradient(left, rgba(172,169,167,0.75) 0%, rgba(61,63,70,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(172,169,167,0.75)), color-stop(100%, rgba(61,63,70,1)));
    background: -webkit-linear-gradient(left, rgba(172,169,167,0.75) 0%, rgba(61,63,70,1) 100%);
    background: -o-linear-gradient(left, rgba(172,169,167,0.75) 0%, rgba(61,63,70,1) 100%);
    background: -ms-linear-gradient(left, rgba(172,169,167,0.75) 0%, rgba(61,63,70,1) 100%);
    background: linear-gradient(to right, rgba(172,169,167,0.75) 0%, rgba(61,63,70,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aca9a7', endColorstr='#3d3f46', GradientType=1 );

}
.contenedor_tarjeta:nth-child(2) figure .trasera{
    background: rgba(210,81,44,0.75);
    background: -moz-linear-gradient(left, rgba(210,81,44,0.75) 0%, rgba(30,27,34,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,81,44,0.75)), color-stop(100%, rgba(30,27,34,1)));
    background: -webkit-linear-gradient(left, rgba(210,81,44,0.75) 0%, rgba(30,27,34,1) 100%);
    background: -o-linear-gradient(left, rgba(210,81,44,0.75) 0%, rgba(30,27,34,1) 100%);
    background: -ms-linear-gradient(left, rgba(210,81,44,0.75) 0%, rgba(30,27,34,1) 100%);
    background: linear-gradient(to right, rgba(210,81,44,0.75) 0%, rgba(30,27,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2512c', endColorstr='#1e1b22', GradientType=1 );
}
.contenedor_tarjeta:nth-child(3) figure .trasera{
    background: rgba(197,106,140,0.75);
    background: -moz-linear-gradient(left, rgba(197,106,140,0.75) 0%, rgba(21,6,19,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(197,106,140,0.75)), color-stop(100%, rgba(21,6,19,1)));
    background: -webkit-linear-gradient(left, rgba(197,106,140,0.75) 0%, rgba(21,6,19,1) 100%);
    background: -o-linear-gradient(left, rgba(197,106,140,0.75) 0%, rgba(21,6,19,1) 100%);
    background: -ms-linear-gradient(left, rgba(197,106,140,0.75) 0%, rgba(21,6,19,1) 100%);
    background: linear-gradient(to right, rgba(197,106,140,0.75) 0%, rgba(21,6,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c56a8c', endColorstr='#150613', GradientType=1 );
}

figure .trasera .titulo {
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
}

figure .trasera hr{
    height: 2px;
    background: #fff;
    border: none;
    margin-bottom: 20px;
    opacity: .5;

}

figure .trasera p {
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    font-size: 13px;
}
