*{
  margin: 0;
  padding: 0;
     font-family: 'Lato', sans-serif;
      font-weight:300;
}

header{
  height:70px;
  font-family: Helvetica;
  width: 100%;
  margin: 0 auto;
  background-color: #2196F3;

}

a{
    text-decoration: none;
    color:#757575;
}
ul{
  list-style: none;

}
nav{
    float: right;
}
#menu li>a{
line-height:50px;
  float:right;
  background-color:#2196F3;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
#menu li>a:hover{
  color: #000;
  background-color:#BBDEFB;
}
#menu>li{
  float: left;
  text-align:center
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
}

#logo{
    float: left;
    margin: auto;
    padding: 12px;
}
#logo2{
    float:left;
    margin: auto;
    padding: 10px;
}

#menu-logo{
    float: right;
    margin: auto;
    padding: 15px;
}

.container{
    padding-left:20px;
    padding-right:20px;
    display:inline-flex


}

body{
    background-color: #DCFFF1;
}


.columna-izquierda{

    padding: 10px;
    width:40%;
    justify-content: center;
    margin: auto;
    display: block;
    float: left;

}

.columna-derecha{

    padding: 10px;
    width:50%;
    justify-content: center;
    margin: auto;
    display: block;
    float:right;


}
#Titulo{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:2.5rem;
    padding:2px;
    text-align: center;
    background-color:#BBDEFB;
}

.descripcion{
    text-align: center;
}

.TituloH3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:2.5rem;
    padding:2px;
    text-align: center;
    background-color:#BBDEFB;
}

.TituloH2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:2.5rem;
    padding:2px;
    text-align: center;
    background-color:#BBDEFB;
}

.marginimagen{

    margin-left: 40%;


}

.marginimagenizquierda{
    margin-right: 40%;
}

.paddingimagen{
    padding: 25px 40px 0px 40px;

}

.parrafocentrado{
    text-align: center;
    font-family: cursive;

}

@media screen and (max-width: 768px) {

    nav{
        display: none;
    }

}
@media screen and (min-width: 769px) {

    #menu-logo{
        display: none;
    }
}

footer{
background-color: #2196F3;
height: 70px;
}
.nav-foo{
    padding: 25px;

}

footer img{
    padding: 12px;
    float: right;
}

footer .nav-foo a {
    margin-left: 30px;
    color: white;
    font-size: .8rem;
}
#redes{

    margin-right:30px;
}

