*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight:300;
}

header{
  height:70px;
  font-family: Helvetica;
  width: 100%;
  margin: 0 auto;
  background-color: #2196F3;

}

a{
    text-decoration: none;
    color:#757575;
}
ul{
  list-style: none;

}
nav{
    float: right;
}
#menu li>a{
line-height:50px;
  float:right;
  background-color:#2196F3;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  min-width: 100px;
}
#menu li>a:hover{
  color: #000;
  background-color:#BBDEFB;


}
#menu>li{
  float: left;
  text-align:center
}
#menu>li>ul{
  display: none;
}
#menu>li:hover>ul {
  display:block;
  position: fixed;
}

#logo{
    float: left;
    margin: auto;
    padding: 12px;
}
#logo2{
    float:left;
    margin: auto;
    padding: 10px;
}

#menu-logo{
    float: right;
    margin: auto;
    padding: 15px;
}

.container{

  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

}

body{
    background-color: #DCFFF1;
}


.columna-izquierda{

    padding: 10px;
    width:40%;
    justify-content: center;
    margin: auto;
    display: block;
    float: left;

}

.columna-derecha{

    padding: 10px;
    width:50%;
    text-align: justify;
    justify-content: center;
    float:right;


}
#Titulo{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:2.5rem;
    padding:2px;
    text-align: center;
    background-color:#BBDEFB;
}

.descripcion{
    text-align: center;
}

.TituloH3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:2.5rem;
    padding:2px;
    text-align: center;
    background-color:#BBDEFB;
}

.TituloH2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:2.5rem;
    padding:2px;
    text-align: center;
    background-color:#BBDEFB;
}

.marginimagen{

    margin-left: 40%;


}

.marginimagenizquierda{
    margin-right: 40%;
}


.parrafocentrado{
    text-align: center;


}

#parrafojulio{
   display: none;
}
#parraforene{
   display: none;
}
#parrafoorlando{
   display: none;
}
#parrafogilby{
   display: none;
}

div.tab {
    overflow: hidden;
    border: 5px solid #ccc;
    background-color: #f1f1f1;
}


div.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;

    padding: 14px 16px;
    transition: 0.3s;
}


div.tab button:hover {
    background-color: #ddd;
}


div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#imagenmov2{
    display: none;
}

@media screen and (max-width: 768px) {

    #menu li a{
        width:500px;
    }

    nav{
        display:block;

    }
    footer img {
        margin-right: 30px;
    }

    .nav-foo{

        display: none;

    }
    #menu-logo{
        display: none;
    }
.columna-izquierda{
     padding: 5%;
    width: 90%;
    }
    .columna-derecha{
         padding: 5%;
        width: 90%;

    }



}

footer{
background-color: #2196F3;
display: block;
overflow: hidden;
}
.nav-foo{
    padding: 25px;

}

footer img{
    padding: 12px;
    float: right;
}

footer .nav-foo a {
    margin-left: 30px;
    color: white;
    font-size: .8rem;
}


.lista-imagenes a img{
    text-align: center;
    padding-right: 20px;

}

.lista-imagenes{
    margin-bottom: 20px;
}

.by{
    color: black;
    background-color: #2196F3;
}
.by a{
    color: black;
    background-color: #2196F3;
    display: inline-block;
    width: 500px;
}
footer .social-feed-facebook{

    padding: 20px;
    display: block;
}
footer .social-feed-instagram
{
    width:350px;
    padding: 20px;
    display: block;
}.bloque-social{
display: inline-block: ;
}
