

body{
    margin: 0%;
}

.izquierdalogo{

    border-style: solid;
    height: 25%;

}



.derechato{
    float: right;
    margin-top: 3.5%;
    font-size: 350%;
}

.ParrafoDerecha{
    float: left;
    overflow: auto;
}

p img{
    width: 200px;
    height: 200px;
    border: 1px solid blue;

}


